p {
  padding: 0px;
  margin: 0px;
}

.announcement {
  height: 5vh; 
  width: 100%;
  background-color: #9BC1BC;
  color: black;
  margin-top: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}